{{#extend : "content"}}
<iframe>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <script src="../node_modules/monaco-editor/min/vs/loader.js"></script>
    <style>       
/* FIXME when https://github.com/Microsoft/monaco-editor/issues/113#issuecomment-240406949 is fixed */
.monaco-editor .inputarea {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
}
<<<<<<< HEAD

=======
>>>>>>> f1152f2f64e81addabf632070f93a43e75c9b3b2
.monaco-editor {
    padding-top: 5.6px;
    padding-bottom: 5.6px;
    font-family: monospace !important;
    font-size: inherit !important;
}
<<<<<<< HEAD

=======
>>>>>>> f1152f2f64e81addabf632070f93a43e75c9b3b2
/* 
 * set z-index to 0, so tabs are not above overlay widgets 
 */
.p-DockPanel-tabBar {
    z-index: 0;
}
</style>
    <div class="monaco-editor">
    </div>
</iframe>