<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <link rel="stylesheet" href="/css/editor.css">
        <!-- Override to prevent flashing background -->
        <style>    
			.monaco-shell.vs-dark {
				background-color: #1E1E1E;
			}
			.ide-body-startup {
				margin: 0px; font-size: 11px; font-family: "Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", "Sans-Serif", "Droid Sans Fallback";
			}
            </style>
    </head>

<<<<<<< HEAD
    <body class ="ide-body-startup monaco-shell vs-dark ">
=======
    <body class="ide-body-startup monaco-shell vs-dark">
>>>>>>> 365a2e95191b3678cdd2e0c450ebc405443f2995
        <script src="/js/min/vs/loader.js"></script>
        <div id="editor" style="height:100%;width:100%"></div>
        <script type="text/javascript" src="/js/editor.js"></script>
    </body>
</html>