{{#extend "body"}}
<div layout="column" layout-align="start stretch" style="height: 100%">

    <md-toolbar id="top-toolbar">
        <div layout="row">
            <md-menu-bar>
                <md-menu class="editor-buttons">
                    <md-button>
                        <span md-menu-origin>File</span>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button>
                                <i class="material-icons">save</i>
                                Save
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu class="editor-buttons">
                    <md-button>
                        Edit
                    </md-button>
                    <md-menu-content>

                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    </md-toolbar>

    <div layout="row" layout-align="end" style="height: 100%">

        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="project-nav">
            <md-toolbar class="md-tall">
                <span flex></span>
                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <h1>Projects</h1>
                </div>
            </md-toolbar>
        </md-sidenav>

        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="task-nav">
            <md-toolbar class="md-tall">
                <span flex></span>
                <div layout="column" class="md-toolbar-tools-bottom inset">
                    <h2>Tasks</h2>
                </div>
            </md-toolbar>
        </md-sidenav>

        <md-toolbar class="md-primary md-hue-1" id="side-toolbar">
            <div layout="column">
                <div id="projects">
                    <md-button ng-click="toggleProjects()">
                        <span>Projects</span>
                    </md-button>
                </div>
                <div id="tasks">
                    <md-button ng-click="toggleTasks()">
                        <span>Tasks</span>
                    </md-button>
                </div>
            </div>
        </md-toolbar>



        <md-toolbar class="md-hue-2" id="file-man">

            <div layout="column" layout-align="start start">
                <md-menu-bar>
                </md-menu-bar>
            </div>

        </md-toolbar>

        <md-toolbar id="resize-file-man"></md-toolbar>

        <div id="editor" layout="column" layout-align="end none">
            <iframe id="editor-frame" src="/editor/iframe" flex></iframe>
            <md-toolbar id="resize-terminal"></md-toolbar>
            <div id="terminal" flex></div>
        </div>
    </div>

    <md-toolbar class="md-primary md-hue-1" id="bottom-toolbar">
        <div layout="row">
            <div>
                <md-menu-bar class="util-icons">
                    <md-button>
                        <i class="material-icons">code</i>
                        {{#if project}}
                            <span class="project-title">{{project.title}}</span>
                        {{else}}
                            <span class="project-title">Untitled</span>
                        {{/if}}
                    </md-button>
                    <md-button>
                        <i class="material-icons">error</i>
                        <span id="errors">0</span>
                    </md-button>
                    <md-button>
                        <i class="material-icons">warning</i>
                        <span id="warnings">0</span>
                    </md-button>
                </md-menu-bar>
            </div>
        </div>
    </md-toolbar>

</div>
{{/extend}}