{{#extend "body"}}
<div layout="column" layout-align="start stretch">
    <md-toolbar class="editor-nav md-menu-toolbar">
            <div layout="row">
                <md-menu-bar>
                    <md-menu class="editor-buttons">
                        <md-button>
                            File
                        </md-button>
                        <md-button>
                            Edit
                        </md-button>
                        <md-button>
                            View
                        </md-button>
                    </md-menu>
                </md-menu-bar>
            </div>
        </md-toolbar>
    <iframe id="editor-frame" src="/editor/iframe"></iframe>
</div>
{{/extend}}