doctype html
html
 head
  title=title
  meta(charset="utf-8")
  link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
  iframe
  script(type="text/javascript" src="./editor/bundle.js" charset="utf-8")
  script(type="text/javascript" src="https://www.promisejs.org/polyfills/promise-6.1.0.js" charset="utf-8")