html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #1E1E1E;
}

iframe {
    border: none;
}

* {
    box-sizing: border-box;
}

.editor-buttons .md-button span {
    font-size: 12px
}

.editor-nav {
    min-height: 36px;
}

.rotate-horizontal * {
    font-size: 15px;
}

#projects {
    transform: rotate(-90deg) translateX(-90px);
}

#tasks {
    transform: rotate(-90deg) translateX(-180px);
}

#file-man {
    width: 200px;
}

#resize-file-man {
    width: 5px;
    cursor: ew-resize;
}

#editor {
    height: 100%;
    width: 100%;
}

#terminal {
    width: 100%;
    background-color: #1E1E1E;
}
